:root {
    --electricLime: #CCFF00;
    --lLemon: #FFFF66; 
    --font-one: 'Shadows Into Light', cursive;
    --blueiii: #0066FF;
    --blueii: #4570E6;
    --bluei: #4997D0;
    --font-two: 'Montserrat', sans-serif;
    --font-three: 'Cutive Mono', monospace;
    --greenlizard: #A7F432;
    --font-four: 'Lobster', cursive;
    
}